.dashboard-container {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 600px;
}

.search-bar-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 750px;
}

.search-bar-box input {
  width: 100%;
  height: 1.1rem;
  outline: none;
}

.search-bar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(104, 104, 104);
  box-sizing: border-box;
  color: white;
}

@media screen and (max-width: 728px) {
  .search-bar-box {
    width: 90%;
  }
}
