.table {
  width: 100%;
}

.table-heading {
  font-weight: 700;
}

td,
th {
  padding: 1rem;
  border-bottom: 1px solid grey;
}

tr {
  border-bottom: 1px solid grey;
}

.table-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.25rem;
}

.delete-all-btn {
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 81, 113, 255);
  border: none;
  cursor: pointer;
  color: aliceblue;
}

.inactive-delete-all-btn {
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  border: none;
  cursor: default;
  background-color: #c0c0c0;
  color: black;
}

@media screen and (max-width: 728px) {
  .table-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .delete-all-btn {
    width: 25%;
    height: 2.5rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    padding: 0.25rem 0.7rem;
  }
}
